  /* Parte de cima/links */
  * {
	margin: 0;
	padding: 0;
	font-family: Myriad Pro, sans-serif; }

	body {

		background: url("back0.jpg");
		background-repeat: repeat;
	  }

	  
	  footer {

		position: absolute;
		top: 121%; 
		background-color: #f0f0f0;
		width: 100%;
	  
	}
	

/*NAV*/
  
 /* Parte de cima/links */

 a { /* Personalização da navbar, texto dos links  */
    color: #fff; 
    text-decoration: none;
    transition: 0.3s;
   font-weight: bold; 
    font-variant-caps: all-petite-caps;
    font-size: 3.2vh;   /* vh pra não ficar modificando  */
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 3.9vh;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(139deg, #737DFE 20%, #FFCAC9 50%);
    height: 8vh;
    }
  
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 2px;
    margin-left: 50px;
    }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div { /* indica o design daquele icon abre o menu mobile */
    width: 30px; 
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.2s;
  }
  
  @media (max-width: 500px) {
    body {
      overflow-x: hidden;
    }

    iframe {
        width: 50%;
        height: 50%;
    }

    img {
    display: none;

    }
  
  
    .nav-list { /* a lista dos links que abre no menu mobile ok */
      position: absolute;
      top: 8vh;
      right: 0;
      width: 30vw;
      height: 45vh;
      background-image: linear-gradient(155deg, #737DFE 20%, #FFCAC9 50%);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
  
    .mobile-menu {
      display: block;
    }
  
    #titulo-pagina{
    text-align: center;
    font-size: 3vh;
    }
  
  }
  
  
  .nav-list.active {
    transform: translateX(0);
  }
  
        @keyframes navLinkFade {
          from {
            opacity: 0;
            transform: translateX(20px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
  
        .mobile-menu.active .line1 {
          transform: rotate(-45deg) translate(-8px, 8px);
        }
  
        .mobile-menu.active .line2 {
          opacity: 0;
        }
  
        .mobile-menu.active .line3 {
          transform: rotate(45deg) translate(-5px, -7px);
        }
  


  /*  */


		table {

		width: 900px;
		text-align: center;
		height: 500px;
		margin-left: 250px;
		color: white;
		font-family: arial;
		font-size: 14px;
	}


	h1   {

		color: black;
		text-align: center;
		font-size: 25px;
		font-family: arial;
	}


	h2 {
		color: whitesmoke;
		font-size: 15px;
		font-family: arial;
		text-align: center;
	}

	p {
		color: white;
		text-align: center;
		font-size: 19px;
		font-family: arial;
		margin-left: 200px;
		margin-right: 200px;
	}


	.botao {
		background-color: #7880fc;
		border: none;
		color: white;
		padding: 16px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		transition-duration: 0.4s;
		cursor: pointer;
	}

	.botao1 {
		background-color: white; 
		color: black; 
		border: 2px solid #7880fc;
	}

	.botao1:hover {
		background-color: #7880fc;
		color: white;}

	.botaoo {
			background-color: #d69e9d;
			border: none;
			color: white;
			padding: 16px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			transition-duration: 0.4s;
			cursor: pointer;
	}

	.botao2 {
			background-color: white; 
			color: black; 
			border: 2px solid #d69e9d;
	}

	.botao2:hover {
			background-color: #d69e9d;
			color: white; }



	input[type=text] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			box-sizing: border-box;
			border: 3px solid #ccc;
			-webkit-transition: 0.5s;
			transition: 0.5s;
			outline: none;
			border-radius:10px 
	}

	input[type=text]:focus {
			border: 3px solid #555;
	}


	input[type=email] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			box-sizing: border-box;
			border: 3px solid #ccc;
			-webkit-transition: 0.5s;
			transition: 0.5s;
			outline: none;
			border-radius:10px
	}

	input[type=email]:focus {
			border: 3px solid #555; 
	}

	input[type=number] {
		    width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			box-sizing: border-box;
			border: 3px solid #ccc;
			-webkit-transition: 0.5s;
			transition: 0.5s;
			outline: none;
			border-radius:10px
	}

	input[type=number]:focus {
		    border: 3px solid #555; }

	textarea {
			width: 100%;
			height: 60px;
		    margin: 8px 0;
			padding: 12px 20px;
			box-sizing: border-box;
			border: 3px solid #ccc;
			-webkit-transition: 0.5s;
			transition: 0.5s;
			outline: none;
			background-color: #f8f8f8;
			font-size: 16px;
			resize: none;
			border-radius:10px;
	 }

	textarea:focus {
			border: 3px solid #555; 
			border-radius:10px;
	}


	label {

			color: black;
		    text-align: center;
			font-size: 15px;
			font-family: arial;
	}


	select {
			width: 60%;
			padding:10px;
			margin: 8px;
			border-radius:10px;
			text-align: center;
			color: black;
	}

	img {

			margin-top: 59px;
			margin-left: 600px;
			margin-bottom: -70px;
	}


	.div{
			width: 95%;
			padding: 20px;
			height: 500px;
			background-repeat: no-repeat;
			background-image: url(papel.png);
			background-position: center;

	}
						
	.divimagem{
			margin-left: 300px;
	}

	h3 { 
	color: black; 
	}

	@media (max-width: 500px) {
		body {
		  overflow-x: hidden;
		} }